{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./",
    "createDefaultProgram": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "arrow-body-style": "off",
    "react/self-closing-comp": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "import/no-extraneous-dependencies": "off",
    "no-alert": "off",
    "react/prop-types": "off",
    "semi": "off",
    "import/no-cycle": "off"
  }
}